<div class="header" mat-dialog-title>
  <span>{{this.action}}</span>
</div>

<br>
<mat-dialog-content class="mat-typography">
  <div class="example-container">

    <form class="my-form">
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="this.managerEmail" name="managerEmail" type="text" placeholder="Manager Email:" *ngIf(this.action === 'Assign Client' || this.action === 'Unassign Manager')>
        <input matInput [(ngModel)]="this.clientEmail" name="clientEmail" type="text" placeholder="Client Email:" *ngIf(this.action === 'Assign Client' || this.action === 'Unassign Client')>
      </mat-form-field>
    </form>

    <br>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="getDialogInfo()">Submit</button>
</mat-dialog-actions>
