/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #6767d6 !important;
}

.ag-column-hover {
    background-color: #477c47;
    opacity: 0.9;
}
.rag-red {
    background-color: lightcoral;
}
.rag-green {
    background-color: rgb(125, 216, 125);
}
.rag-amber {
    background-color: lightsalmon;
}

.rag-red-outer .rag-element {
    background-color: lightcoral;
}

.rag-green-outer .rag-element {
    background-color: lightgreen;
}

.rag-blue {
    background-color: rgb(124, 192, 223);
}