/* .not-found {
  text-align: center;
  background: #06beb6;
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
  background: linear-gradient(to right, #48b1bf, #06beb6);
  margin: 130px 100px 0px 100px;
  border-radius: 25px;
} */


.body-msg {
  background-color: black;
  margin: 0px 180px 0px 180px;
  border-radius: 50%
}

.msg {
  color: aquamarine;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center
}

svg {
  margin: 0 auto;
  display: block;
  margin-top: 90px;
}

polygon {
  transform: rotateY(-180deg) scale(0);
  transition: all 0.4s cubic-bezier(0.590, 0.720, 0.375, 1.650);
  transform-origin: center;
}

polygon.processed {
  transform: rotateY(0deg) scale(1);
}

.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.mat-raised-button:not([class*=mat-elevation-z]){
  height: 60px;
  width: 145px;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
