<nav class="nav">
  <h1 class="text-white name">{{this.managerName}}</h1>
  <ul>
    <hr style="margin:0;border-color: #666;">
    <li><a [routerLink]="['/manager/clients']">Clients</a></li>
    <li><a>Clients Positions</a></li>
  </ul>
  <div class="table">

    <div class="table-row table-heading">
      <div class="cell">
        Symbol
      </div>
      <div class="cell">
        Sell Price $
      </div>
      <div class="cell">
        Buy Price $
      </div>
    </div>

    <div class="table-row" href="#" *ngFor='let stock of stocksInfo'>
      <div class="cell">
        <button mat-raised-button color="accent">{{stock[0]}}</button></div>
      <div class="cell">{{stock[1]}}</div>
      <div class="cell">{{stock[2]}}</div>
    </div>
  </div>
</nav>
