#buttonsHolder .mat-raised-button{
    margin-left: 10px;
}
#buttonsHolder .mat-raised-button{
    background-color: rgb(255, 101, 74);
    color: white;
}

#buttonsHolder {
    justify-content: center;
}

.my-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
    
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    font-family: fantasy;
    font-size: -webkit-xxx-large;
  }