        <button class="mat-raised-button" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button class="menuDropDownButton" matTooltip="Unassigns the manager from all of the users he is assigned to" matTooltipPosition="after" mat-menu-item (click)="unassignManagerFromUsers()" >Unassign Manager</button>
          <button class="menuDropDownButton" matTooltip="Assigns a manager to a client" matTooltipPosition="after" mat-menu-item (click)="assignClient()">Assign Client</button>
          <button class="menuDropDownButton" matTooltip="Unassigns a manager from a client" matTooltipPosition="after" mat-menu-item (click)="unassignClient()">Unassign Client</button>
        </mat-menu>
