<mat-toolbar>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-toolbar>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row"> {{row.role}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
        <td mat-cell *matCellDef="let row"> {{row.manager}} </td>
      </ng-container>

      <ng-container matColumnDef="funds">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Funds </th>
          <td mat-cell *matCellDef="let row"> {{row.funds}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>