.menuButton{
    color: white;
}

.menuDropDownButton:hover {
    color: rgb(74, 107, 255);
    font-weight: 600;
}

.full-width {
  width: 100%;
}
  

::ng-deep .mat-tooltip {
  font-size: 14px;
  font-weight: bold;
}

.mat-raised-button {
  background-color: rgb(74, 122, 255);
  color: white;
}