<app-header></app-header>
<nav class="nav">
        <h2 class="text-white name">Test Manager</h2>
          <ul>
          <hr style="margin:0;border-color: #666;">
              <li><a href="#">Clients</a></li>
              <li><a href="#">Client Positions</a></li>
          </ul>
        <div class="table">
          <div class="table-row table-heading">
            <div class="cell">
              Symbol
            </div>
            <div class="cell">
              Sell Price
            </div>
            <div class="cell">
              Buy Price
            </div>
          </div>
          <a class="table-row" href="#">
            <div class="cell">
              2.1
            </div>
            <div class="cell">
              2.2
            </div>
            <div class="cell">
              2.3
            </div>
          </a>
          <a class="table-row" href="#">
            <div class="cell">
              2.1
            </div>
            <div class="cell">
              2.2
            </div>
            <div class="cell">
              2.3
            </div>
          </a>
        </div>
      </nav>
      
      <div class="main">
        <h2>Sidebar</h2>
        <p>This sidebar is of full height (100%) and always shown.</p>
        <p>Scroll down the page to see the result.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      </div>
      