<mat-toolbar color="primary">
    <mat-toolbar-row>
          <span><a href="/">Trading 11</a></span>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-toolbar>
  <span>Login</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form validate [formGroup]="loginForm" class="my-form">

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" formControlName='email' required>
        <mat-error>{{validate(email)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type = "password" placeholder="Password" name="password" formControlName='password' required>
        <mat-error>{{validate(password)}}</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login(loginForm)" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
