<app-header></app-header>
<app-manager-sidebar></app-manager-sidebar>
<div class="main">
  <br>
  <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for name...">

  <table id="myTable">
    <tr class="header">
      <th style="width:30%;">Client Name</th>
      <th style="width:30%;">email</th>
      <th style="width:20%;">Balance $</th>
      <th style="width:20%;"></th>
    </tr>

    <tr *ngFor="let clientInfo of clientsData; let i = index" [attr.data-index]="i" [ngStyle]="{'background-color':clientInfo[2]>0? '#a0ec9b' : '#ff9e9e'}">
      <td>{{i+1}}. {{clientInfo[0]}}</td>
      <td>{{clientInfo[1]}}</td>
      <td>{{clientInfo[2]}}</td>
      <td><button mat-fab color="accent" (click)="this.clientData(clientInfo)">Manage</button></td>
    </tr>

  </table>
</div>
