<div id="dialog-chart">
    <mat-dialog-content class="mat-typography">
        <h1 class="mat-display-1">Hourly</h1>
        <br>
        <div id="hourlyChartContainer" style="width: 100%; height: 500px"></div>
        <br><br>
        <h1 class="mat-display-1">Daily</h1>
        <br>
        <div id="dailyChartContainer" style="width: 100%; height: 500px"></div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]>Cancel</button>
        <button mat-raised-button color="warn">Proceed</button>
    </mat-dialog-actions>
</div>

