.mat-raised-button.mat-primary {
  margin-left: 200px;
  margin-right: 7px
}

#dialog-chart{
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.mat-dialog-title{
  font: 500 30px/32px Roboto,"Helvetica Neue",sans-serif;
  margin-right: 200px;
}

.mat-display-1 {
  text-align: center;
}